# Created by https://www.toptal.com/developers/gitignore/api/nestjs,nextjs,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=node,nextjs,visualstudiocode

### NestJS ###
# Node.js
api/node_modules/
api/dist/
api/.env
api/.DS_Store
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/coverage/
api/.nyc_output/
api/*.log
api/*.tsbuildinfo

# Editor/IDE specific files
api/.vscode/
api/.idea/
api/*.sublime-workspace
api/*.sublime-project

# Logs
api/logs
api/*.log
api/npm-debug.log*

# Dependency directories
api/pids
api/logs
api/*.pid
api/*.seed
api/*.pid.lock

# Optional npm cache directory
api/.npm

# Optional eslint cache
api/.eslintcache

# Optional REPL history
api/.node_repl_history

# Environment variables
api/.env*

### NextJS ###
# dependencies
ui/node_modules
ui/.pnp
ui/.pnp.js

# testing
ui/coverage

# next.js
ui/.next/
ui/out/

# production
ui/build

# misc
ui/.DS_Store
ui/*.pem

# debug
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/.pnpm-debug.log*

# local env files
ui/.env*.local

# vercel
ui/.vercel

# typescript
ui/*.tsbuildinfo
ui/next-env.d.ts

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/go,nextjs,visualstudiocode